name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 16.x
      - name: npm install
        run: npm install

  build-solution-design:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 16.x
      - name: npm ci
        run: npm ci
        working-directory: samples/datatrue-solution-design
      - name: npm run build
        run: npm run build
        working-directory: samples/datatrue-solution-design

  build-suite-replication:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js 16.x
        uses: actions/setup-node@v3.8.1
        with:
          node-version: 16.x
      - name: npm ci
        run: npm ci
        working-directory: samples/datatrue-suite-replication
      - name: npm run build
        run: npm run build
        working-directory: samples/datatrue-suite-replication
