name: Docs

on:
  push:
    branches: [main]

jobs:
  docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js 20
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 20
      - name: npm install
        run: npm install
      - name: Generate docs
        run: npm run docs
      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages
          folder: docs
          clean: true
